@font-face {
  font-family: RobotoCondensed;
  src: url("font/RobotoCondensed-Regular.ttf");
}

html
{
  background-color: rgb(16, 16, 16);
  color: rgb(245, 245, 245);
  font-family: RobotoCondensed, sans-serif;
  margin: 0;
}

a
{
  color: rgb(150, 150, 255);
}

@media (min-width: 1600px)
{
  .page
  {
    display: grid;
    grid: auto / 20% 80%

  }

  .navlinks
  {
    margin-left: 2%;
    position: fixed;
    top: 14%;
    text-transform: uppercase;
    display: grid;
    font-size: 36px;
    font-weight: bold;
  }

  .navlink-item
  {
    opacity: 0.3;
    text-decoration: none;
    color: rgb(245, 245, 245);
  } .navlink-item:hover{
    transition: opacity 0.5s;
    opacity: 1.0;
  }

  .navlink-item-active
  {
    text-decoration: none;
    opacity: 1.0;
    color: rgb(245, 245, 245);
  }

  .social-media-links
  {
    padding-top: 5%;
    font-size: 16px;
  }

  .social-media-link-image
  {
    padding-right: 5%;
    height: 50px;
  }

  .header-image
  {
    left: 2%;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
  }

  .cinema-portfolio-header
  {
    margin-top: 60px;
    text-align: center;
  }

  .cinema-portfolio
  {
    display: grid;
    grid: auto / 50% 50%;
    margin-bottom: 30%;
  }

  .cinema-portfolio-item
  {
    margin: 30px;
    text-transform: uppercase;
  }.cinema-portfolio-item:hover{
    transition: transform 0.5s;
    transform: scale(110%);
  }.cinema-portfolio-item:not(hover){
    transition: transform 0.5s;
    transform: scale(100%);
  }

  .video-reel
  {
    padding:56.25% 0 0 0;
    position:relative;
    margin-right:5%
  }

  .about-page
  {
    display: grid;
    grid: auto;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .about-page-item
  {
    margin-right: 40px;
  }

  .about-page-image
  {
    margin-left: 30%;
  }

  .project-page
  {
    display: grid;
  }

  .project-page-title
  {
    font-size: 48px;
    line-height: 12px;
  }

  .project-page-gallery
  {
    display: grid;
    grid: auto / 40% 40%;
  }

  .project-page-gallery-item
  {
    height: 250px;
    margin-right: 5%;
    margin-top: 5%;
  }

  .about-page-image-content
  {
    box-shadow: 10px 10px orange;
  }
}

@media (max-width: 1599px)
{
  .page
  {
    display: grid;
    text-align: center;
    height: 100%;
  }

  .navlinks
  {
    position: static;
    margin-top: 10%;
    text-transform: uppercase;
    display: grid;
    font-size: 36px;
    font-weight: bold;
  }

  .navlink-item
  {
    font-size: 96px;
    opacity: 0.3;
    text-decoration: none;
    color: rgb(245, 245, 245);
  } .navlink-item:hover{
    transition: opacity 0.5s;
    opacity: 1.0;
  }

  .navlink-item-active
  {
    font-size: 96px;
    text-decoration: none;
    opacity: 1.0;
    color: rgb(245, 245, 245);
  }

  @media (max-height: 800px)
  {
    .navlinks
    {
      position: static;
      margin-top: 4%;
      text-transform: uppercase;
      display: grid;
      font-size: 36px;
      font-weight: bold;
    }

    .navlink-item
    {
      font-size: 24px;
      opacity: 0.3;
      text-decoration: none;
      color: rgb(245, 245, 245);
    } .navlink-item:hover{
      transition: opacity 0.5s;
      opacity: 1.0;
    }

    .navlink-item-active
    {
      font-size: 24px;
      text-decoration: none;
      opacity: 1.0;
      color: rgb(245, 245, 245);
    }
  }

  .social-media-links
  {
    margin-top: 10%;
    transform: translateX(5%);
    font-size: 16px;
  }

  .social-media-link-image
  {
    height: 100px;
    padding: 5%;
  }

  @media (max-height: 800px)
  {
    .social-media-links
    {
      margin-top: 5%;
      font-size: 16px;
      transform: translateX(-5%);
    }

    .social-media-link-image
    {
      padding-right: 5%;
      height: 50px;
    }
  }

  .header-image
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    transform: scale(300%);
  }

  .portfolio-page
  {
    margin-top: 5%;
    display: grid;
  }

  @media (max-height: 800px)
  {
    .portfolio-page
    {
      margin-left: 10%;
      margin-right: 10%;
    }
  }

  .cinema-portfolio-header
  {
    margin-top: 60px;
    text-align: center;
  }

  .cinema-portfolio
  {
    display: grid;
  }

  .cinema-portfolio-item
  {
    font-size: 36px;
    text-transform: uppercase;
    margin: 30px;
  }

  .video-reel
  {
    padding:56.25% 0 0 0;
    position:relative;
  }

  .about-page
  {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
  }

  .about-page-item
  {
    text-align: left;
    margin-right: 40px;
    font-size: 48px;
  }

  @media (max-height: 800px)
  {
    .about-page-item
    {
      font-size: 16px;
    }
  }
  .about-page-image
  {

  }

  .about-page-image-content
  {
    box-shadow: 10px 10px orange;
  }

  .project-page
  {
    display: grid;
  }

  .project-page-title
  {
    font-size: 56px;
  }

  .project-page-gallery
  {
    display: grid;
  }

  .project-page-gallery-item
  {
    height: 500px;
    transform: translate(17px, 0%);
    margin-bottom: 5%;
    margin-top: 5%;
  }
}
