@font-face {
  font-family: RobotoCondensed;
  src: url("font/RobotoCondensed-Regular.ttf");
}

html
{
  background-color: rgb(16, 16, 16);
  color: rgb(245, 245, 245);
  font-family: RobotoCondensed, sans-serif;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

a
{
  color: rgb(150, 150, 255);
}

.page
{
  display: grid;
  grid: auto / 20% 80%
}

.navlinks
{
  position: fixed;
  top: 14%;
  text-transform: uppercase;
  display: grid;
  font-size: 36px;
  font-weight: bold;
}

.navlink-item
{
  opacity: 0.3;
  text-decoration: none;
  color: rgb(245, 245, 245);
} .navlink-item:hover{
  transition: opacity 0.5s;
  opacity: 1.0;
}

.navlink-item-active
{
  text-decoration: none;
  opacity: 1.0;
  color: rgb(245, 245, 245);
}

.header-image
{
  left: 2%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
}

.cinema-portfolio-header
{
  margin-top: 60px;
  text-align: center;
}

.cinema-portfolio
{
  display: grid;
  grid: auto / 50% 50%;
}

.cinema-portfolio-item
{
  margin: 30px;
}

.about-page
{
  display: grid;
  grid: auto;
}

.about-page-item
{
  margin-right: 40px;
}

@media (max-width: 1280px)
{
  .about-page-item
  {
    font-size: 48px;
  }
}
